[submodule "rpi-gpio"]
	path = rpi-gpio
	url = https://github.com/Tieske/rpi-gpio.git

[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "luacv"]
	path = luacv
	url = https://github.com/yingnierxiao/luacv.git
